<%= javascript_include_tag "responsive/page_loaders/dashboard"%>
<div class="landing-page">
	<div class="landing-wrapper">
		<div class="create-question-wrap">
			<div class="create-question-btn">
				<%if current_user.questions.blank?%>
				<a href="/question/new" class="button orange x-large">Create your First Question</a>
				<h2>And see what your Customers have to Say!</h2>
				<%else%>
				<div class="alert alert-info">
					No data to display. Please click the share button to share your questions
				</div>
				<a class="button orange x-large" href="/question">Share Your Question</a>
				<%end%>
			</div>
		</div>
	</div>
	<div class="landing-page"></div>
	<!--// .end landing wrapper -->
</div>
<script type="text/javascript">
    var pay = '<%= params["pay"] %>'
    if(pay == 'true'){
        click_bus(<%= current_user.blank? ? "" : current_user.business_type_id%>,'<%= user_plan_billinginfo(current_user)[1]%>','<%= user_plan_billinginfo(current_user)[0].blank? ? false : true%>');
        jQuery('#billingInfo').on('hidden.bs.modal', function () {
            jQuery.ajax({
                type: "get",
                url: "dashboard/shift_to_trial_period",
                data: {},
                dataType: "json",
                success: function(data)
                {
                }
            });
        })
    }
  </script>
