<div class="main-content">
  <div class="container">
    <div class="wrap-box">
      <div class="wrap-box-head clearfix"><h2>Account</h2></div>
      <div class="wrap-box-cont">
        <div class="row">
          <div class="col-md-12">
            <div class="white-box-wrapper">
              <div class="box-head clearfix">
                <h3><span class="glyphicon glyphicon-cog"></span>Settings</h3>
              </div>
              <div class="white-box">
                <!-- Offline payment -->
                <div class="link-downgrade">
                </div>
                <!-- Offline payment -->
                <!-- Nav tabs -->
                <%= render "shared/admin_menus_header"%>
                <div class="tab-content">
                  <div class="tab-wrapper">
                    <div class="row">
                      <div class="col-lg-4 col-sm-6 col-md-12 col-xs-12">
                        <div class="row">
                          <div class="col-lg-12">
                            <label>Tenant Name</label>
                            <div class="form-group">
                              <label class="sr-only" for="InputTenantName">Tenant Name</label>
                              <%= User.tenant_name(@corporate_user.tenant_id) %>
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-lg-12">
                            <label>Email</label>
                            <div class="form-group">
                              <label class="sr-only" for="InputFirstName">Email</label>
                              <%= @corporate_user.email %>
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-lg-12">
                            <label>First Name</label>
                            <div class="form-group">
                              <label class="sr-only" for="InputLastName">First Name</label>
                              <%= @corporate_user.first_name %>
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-lg-12">
                            <label>Last Name</label>
                            <div class="form-group">
                              <label class="sr-only" for="InputLastName">Last Name</label>
                              <%= @corporate_user.last_name %>
                            </div>
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>
                  <div class="btn-wrap text-center btn-update-info">
                    <a href="/corporate_users/<%= @corporate_user.id %>/edit" class="article" id="back_to_users">Edit</a>
                    <a href="/corporate_users" class="article" id="back_to_users">Back</a>
                  </div>
                </div>
              </div>
            </div>
            <!--//. recent activity -->
          </div>
        </div>
      </div>
    </div> <!-- Wrap-bo -->
  </div> <!-- Container -->
</div>
</div>
</div>
</div>