<p>Dear <%= @first_name %>, </p>
<p>Your password has been reset. Your credentials are as below<p>
<p>Signin Name: <b><%= @email %></b> </p>
<p>Password: <b><%= @password %></b></p>
<p>Please contact <%= @admin_email %> if you have problems.</p>
<p>Regards</p>
</p><%= @admin_email %></p>