<p id="notice"><%= notice %></p>

<p>
  <strong>Plan name:</strong>
  <%= @pricing_plan.plan_name %>
</p>

<p>
  <strong>Business type:</strong>
  <%= @pricing_plan.business_type_id %>
</p>

<p>
  <strong>Tenant count:</strong>
  <%= @pricing_plan.tenant_count %>
</p>


<p>
  <strong>Category types:</strong>
  <%= @pricing_plan.category_types.map(&:category_name) %>
</p>

<p>
  <strong>Language count:</strong>
  <%= @pricing_plan.language_count %>
</p>

<p>
  <strong>Questions count:</strong>
  <%= @pricing_plan.questions_count %>
</p>
<p>
  <strong>Video Photo count:</strong>
  <%= @pricing_plan.video_photo_count %>
</p>
<p>
  <strong>Customer Records count:</strong>
  <%= @pricing_plan.customer_records_count %>
</p>
<p>
  <strong>Email count:</strong>
  <%= @pricing_plan.email_count %>
</p>
<p>
  <strong>Sms count:</strong>
  <%= @pricing_plan.sms_count %>
</p>
<p>
  <strong>Call count:</strong>
  <%= @pricing_plan.call_count %>
</p>

<p>
  <strong>Question suggestions:</strong>
  <%= @pricing_plan.question_suggestions %>
</p>
<p>
  <strong>Qrcode share:</strong>
  <%= @pricing_plan.qr_share %>
</p>
<p>
  <strong>Social share:</strong>
  <%= @pricing_plan.social_share %>
</p>
<p>
  <strong>Embed share:</strong>
  <%= @pricing_plan.embed_share %>
</p>
<p>
  <strong>Listen:</strong>
  <%= @pricing_plan.listener %>
</p
<p>
  <strong>Amount:</strong>
  <%= @pricing_plan.amount %>
</p>

<p>
  <strong>Expired Date:</strong>
  <%= @pricing_plan.expired_date %>
</p>

<%= link_to 'Edit', edit_admin_pricing_plan_path(@pricing_plan) %> |
<%= link_to 'Back', admin_pricing_plans_path %>
